.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100%;
  max-width: 600px;
}

app-details {
  display: flex;
  justify-content: center;
}
