a.navbar-brand {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

button.nav-item {
  border: none;
  background: none;
  padding: 0 12px;
}

button.nav-item:hover {
  color: #A1A1A1;
}
