<div class="post-details-container">
  <div class="post-author">
    <img src="{{ selectedUser.profilePic }}" />
    <p>{{ selectedUser.name }}</p>
  </div>
  <div class="img-container">
    <img
      src="{{ 'https://picsum.photos/id/' + postDetails.id + 5 + '/400/300' }}"
    />
  </div>
  <div class="post-info">
    <h4>{{ postDetails.title }}</h4>
    <p>
      {{ postDetails.body | charLimit : 50 : isTextExpanded }}
      <button class="see-more" *ngIf="!isTextExpanded" (click)="toggleText()">
        see more
      </button>
    </p>
    <button *ngIf="!isShowComments" (click)="toggleComments()">
      show comments
    </button>
    <button *ngIf="isShowComments" (click)="toggleComments()">
      hide comments
    </button>
  </div>
  <div *ngIf="isShowComments">
    <div class="comment-container" *ngFor="let comment of comments">
      <p class="comment-author">{{ comment.email }}</p>
      <p class="comment-body">{{ comment.body }}</p>
    </div>
  </div>
</div>
